<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Do It - To Do List App</title>
</head>

<body>
    <header>Do It</header>
    <div class="container">
        <div class="sidebard">
            <button id="home">Home</button>
            <button id="projects">Projects</button>
        </div>
        <div class="content"></div>
        <div class="formContainerPopUp">
            <div class="blocker"></div>
            <div class="formContainer">
                <form>
                    <section class="formInformation">
                        <input type="text" name="name" id="name" required>
                        <input type="date" name="dueDate" id="dueDate" required>
                        <select name="priority" id="priority">
                            <option value="low">Low</option>
                            <option value="medium">Medium</option>
                            <option value="high">High</option>
                        </select>
                    </section>
                    <section class="formBtn">
                        <button class="submitBtn" type="submit">Add Task</button>
                    </section>
                </form>
            </div>
        </div>
    </div>
</body>

</html>